mysql-connector-j-9.3.0/

.idea/
*.iml
*.iws

*.class

/out/
/target/
/build/

.DS_Store
Thumbs.db

mysql-connector/
libs/
lib/

/logs/
*.log
*.mvn
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

/test-output/