.root {
    -fx-background-color: #f5f5f5;
    -fx-padding: 20;
    -fx-background-radius: 20;
}

.menu {
    -fx-background-color: white;
}

.input-label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

.input-field {
    -fx-pref-height: 35px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
}

.error-label {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}

.primary-button {
    -fx-background-color: #1e4d91;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-pref-width: 300px;
    -fx-pref-height: 35px;
}

.secondary-button {
    -fx-background-color: white;
    -fx-border-color: #1e4d91;
    -fx-text-fill: #1e4d91;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-width: 300px;
    -fx-pref-height: 35px;
}

.checkbox {
    -fx-font-size: 13px;
}