.root {
    -fx-background-color: #f5f5f5;
    -fx-padding: 20px;
    -fx-background-radius: 20px;
}

.menu {
    -fx-background-color: white;
}

.input-field {
    -fx-pref-height: 35px;
    -fx-background-radius: 10px;
}

.error-label {
    -fx-text-fill: red;
}

.primary-button {
    -fx-background-color: #1e4d91;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-pref-width: 300px;
    -fx-pref-height: 35px;
    -fx-cursor: hand;
}

.secondary-button {
    -fx-background-color: white;
    -fx-border-color: #1e4d91;
    -fx-text-fill: #1e4d91;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-pref-width: 300px;
    -fx-pref-height: 35px;
    -fx-cursor: hand;
}
